In [64]:
a=["car","bike"]


b={
    "name":"John",
    "age":30,
    "age":40,
    "city":"New York",
    "vehicles":["car","bike"]
}

print(b)

{'name': 'John', 'age': 40, 'city': 'New York', 'vehicles': ['car', 'bike']}

In [66]:
b["name2"]="Bob"
print(b)
# b.update({"name":"Bob"})
# print(b)

{'name': 'John', 'age': 40, 'city': 'New York', 'vehicles': ['car', 'bike'], 'name2': 'Bob'}

In [34]:
del b["city"]
# print(b)

age = b.pop("age")
print(age)
print(b)
l=b.popitem()
print(l)
print(b)

40
{'name': 'John', 'vehicles': ['car', 'bike']}
('vehicles', ['car', 'bike'])
{'name': 'John'}

In [32]:
b={
    "name":"John",
    "age":30,
    "city":"New York",
    "vehicles":["car","bike"]
}

# for item in b:
#     print(item)

# for item in b.values():
#     print(item)

for key,value in b.items():
    print(key,value)

name John
age 30
city New York
vehicles ['car', 'bike']

In [36]:
b={
    "name":"John",
    "age":30,
    "city":"New York",
    "vehicles":["car","bike"]
}
b.clear()
print(b)

{}

In [38]:
b={
    "name":"John",
    "age":30,
    "city":"New York",
    "vehicles":["car","bike"]
}

c=b.copy()
print(c)

{'name': 'John', 'age': 30, 'city': 'New York', 'vehicles': ['car', 'bike']}

In [40]:
d=b.items()
print(d)
print(type(d))

dict_items([('name', 'John'), ('age', 30), ('city', 'New York'), ('vehicles', ['car', 'bike'])])
<class 'dict_items'>

In [41]:
d=b.keys()
print(d)
print(type(d))

dict_keys(['name', 'age', 'city', 'vehicles'])
<class 'dict_keys'>

In [42]:
d=b.values()
print(d)
print(type(d))

dict_values(['John', 30, 'New York', ['car', 'bike']])
<class 'dict_values'>

In [51]:
b={
    "a":{
        "name":"John",
        "age":30,
        "city":"New York",
        "vehicles":["car","bike"]
    },
    "b": {
        "name":"Bob",
        "age":30,
        "city":"New York",
        "vehicles":["car","bike"]
    },
    "c":{
        "name":"Bob3",
        "age":30,
        "city":"New York",
        "vehicles":["car","bike"]
    }
}
print(b["c"]["name"])

Bob3

In [52]:
def my_function():
    print("Hello from a function")


my_function()

Hello from a function

In [63]:
def my_function(name,age):
    print(name+age)
    print(age)

# int myFunction(int a,int b){

# }
my_function(12,22)
my_function(1,22)

34
22
23
22

In [67]:
list_of_dict=[{"a":1},{"b":2},{"c":3}]
print(list_of_dict)

[{'a': 1}, {'b': 2}, {'c': 3}]

In [69]:
print(list_of_dict[0]["a"])

1

In [70]:
b={
    "name":"John",
    "age":30,
    "city":"New York",
    "vehicles":["car","bike"]
}

c={
    "name1":"John",
    "age1":30,
    "city1":"New York",
    "vehicles1":["car","bike"]
}
c=b.copy()
print(c)

{'name': 'John', 'age': 30, 'city': 'New York', 'vehicles': ['car', 'bike']}