# List Methods in Python

This notebook provides a comprehensive overview of all the list methods available in Python with examples.

## 1. `append()`
Add an element to the end of the list.

In [ ]:
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]
my_list.append(5)
print(my_list)

[1, 2, 3, 4]
[1, 2, 3, 4, 5]

## 2. `extend()`
Extend the list by appending all the items from the iterable.

In [ ]:
my_list = [1, 2, 3]
my_list.extend([4, 5])
print(my_list)  # Output: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

## 3. `insert()`
Insert an element at a given position.

In [ ]:
my_list = [1, 2, 3]
my_list.insert(1, 'a')
print(my_list)  # Output: [1, 'a', 2, 3]
my_list.insert(2,100)
print(my_list)

[1, 'a', 2, 3]
[1, 'a', 100, 2, 3]

## 4. `remove()`
Remove the first item from the list whose value is equal to x.

In [ ]:
my_list = [1, 2, 3, 2]
my_list.remove(2)
print(my_list)  # Output: [1, 3, 2]

## 5. `pop()`
Remove and return the item at the given position (default is the last item).

In [ ]:
my_list = [1, 2, 3]
item = my_list.pop()
print(item)  # Output: 3
print(my_list)  # Output: [1, 2]

3
[1, 2]

## 6. `clear()`
Remove all items from the list.

In [ ]:
my_list = [1, 2, 3]
my_list.clear()
print(my_list)  # Output: []

[]

## 7. `index()`
Return the index of the first item whose value is equal to x.

In [ ]:
my_list = [1, 2, 3, 2]
fruits = ["apple" , "orange" , "banana","apple"]
fruit_index =fruits.index("banana")
print(fruit_index)
index = my_list.index(2)
#print(index)  # Output: 1

2

## 8. `count()`
Return the number of times x appears in the list.

In [ ]:
my_list = [1, 2, 2, 3]
count = my_list.count(1)
print(count)  # Output: 2

1

## 9. `sort()`
Sort the items of the list in place.

In [ ]:
my_list = [3, 1, 2]
my_list.sort(reverse = True)
print(my_list)  # Output: [1, 2, 3]

[3, 2, 1]

## 10. `reverse()`
Reverse the elements of the list in place.

In [ ]:
my_list = [1, 2, 3]
my_list.reverse()
print(my_list)  # Output: [3, 2, 1]

[3, 2, 1]

## 11. `copy()`
Return a shallow copy of the list.

In [ ]:
my_list = [1, 2, 3]
my_list_copy = my_list.copy()
print(my_list_copy)  # Output: [1, 2, 3]

[1, 2, 3]