# Tuples in Python

### 1. What is a Tuple?

A tuple is an immutable sequence type in Python. Tuples are similar to lists, but they cannot be changed after their creation. This immutability makes tuples useful for storing data that should not be modified.

### 2. Creating a Tuple

In [2]:
# Creating a tuple
my_tuple = (1, 2, 3)
print(my_tuple)  # Output: (1, 2, 3)

# Creating a tuple without parentheses
another_tuple = 4, 5, 6
print(another_tuple)  # Output: (4, 5, 6)

# Creating an empty tuple
empty_tuple = ()
print(empty_tuple)  # Output: ()

# Single-element tuple (note the comma)
single_element_tuple = (7,)
print(single_element_tuple)  # Output: (7,)

fruits = "apple" ,"orange" ,"banana"
print(fruits)

(1, 2, 3)
(4, 5, 6)
()
(7,)
('apple', 'orange', 'banana')

### Tuple Operations

#### 1. Accessing Elements

In [3]:
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[0])  # Output: 10
print(my_tuple[3])  # Output: 40

10
40

#### 2. Slicing

In [4]:
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[1:4])  # Output: (20, 30, 40)
print(my_tuple[:3])   # Output: (10, 20, 30)
print(my_tuple[2:])   # Output: (30, 40, 50)

(20, 30, 40)
(10, 20, 30)
(30, 40, 50)

#### 3. Concatenation and Repetition

In [9]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
concatenated = tuple1 + tuple2
print(concatenated)  # Output: (1, 2, 3, 4, 5, 6)

repeated = tuple1 * 3
print(repeated)  # Output: (1, 2, 3, 1, 2, 3, 1, 2, 3)
print(("apple","orange")*3)
print(("MCA",)*3)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 1, 2, 3, 1, 2, 3)
('apple', 'orange', 'apple', 'orange', 'apple', 'orange')
('MCA', 'MCA', 'MCA')

#### 4. Membership

In [10]:
my_tuple = (10, 20, 30, 40, 50)
print(20 in my_tuple)  # Output: True
print(60 in my_tuple)  # Output: False

True
False

### Tuple Unpacking

In [11]:
my_tuple = (100, 200, 300)

# Unpacking
a, b, c = my_tuple
print(a)  # Output: 100
print(b)  # Output: 200
print(c)  # Output: 300

# Unpacking with different number of variables
my_tuple = (1, 2, 3, 4, 5)

# Using the * operator to capture the rest of the values
a, b, *rest = my_tuple
print(a)    # Output: 1
print(b)    # Output: 2
print(rest) # Output: [3, 4, 5]

100
200
300
1
2
[3, 4, 5]

### Other Facts About Tuples

1. **Immutability**: Once created, the elements of a tuple cannot be changed. This immutability makes tuples hashable and suitable for use as dictionary keys.

In [15]:
my_tuple = (10, 20, 30)
#my_tuple[1] = 99  # This would raise a TypeError

2. **Nested Tuples**: Tuples can contain other tuples as elements.

In [16]:
nested_tuple = (1, 2, (3, 4, 5))
print(nested_tuple)  # Output: (1, 2, (3, 4, 5))

(1, 2, (3, 4, 5))

3. **Tuple Methods**: Tuples have only two built-in methods - `count` and `index`.

In [18]:
my_tuple = (1, 2, 2, 3, 4, 4, 4)
print(my_tuple.count(4))  # Output: 3
print(my_tuple.index(2))  # Output: 3

3
1

4. **Comparison**: Tuples can be compared. The comparison is done element by element.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
print(tuple1 < tuple2)  # Output: True (because 3 < 4)